*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* !                    GENERAL RULES                          */

.my_padding{
    padding: 1rem;
}



/* ! ---------------------------------------------------------- */

/* INIZIA IL HEADER */
header{
    padding:0.2rem;
    width: 100%;
    position: sticky;
}


.search_bar{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.251);
    border-radius: 0.5rem;
}

#text_bar{
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.right_nav{
    display: flex;
    justify-content: space-between;
}
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

/* INIZIA IL MAIN */

main{
    height: calc(100vh - 50px);
    overflow: auto;
    display: flex;
    padding: 3rem auto;
}

.fa-magnifying-glass{
margin: 0 1rem;
}

/*  CONTIANER DI DESTRA PARTE SOPRA */
.my_container_top{

}
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

/*  CONTIANER DI DESTRA PARTE SOTTO */

.my_container_bottom{
    display: flex;
    width: calc(100vw - 500px);
    padding: 1rem;
}
/*  CONTIANER DI DESTRA PARTE SOTTO -> SINISTRA */

.my_container_left{
    width: 65%;
}

/*  CONTIANER DI DESTRA PARTE SOTTO -> DESTRA */


.my_container_right{
    width: 35%;
}

section{
    width: 100%;
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

/* INIZIA IL LEFTER */

#lefter{
    width: 200px;
    height: calc(100vh - 50px);
    overflow: auto;
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

/* ! DEBUG */

main{
    background-color: aqua;
}

#lefter{
    background-color: blue;
}

[class*="col"]{
    /* background-color: chocolate; */
    /* border: 1px solid black; */
    /* min-height: 200px; */
}

.my_container_top{
min-height: 150px;
background-color: chartreuse;
width: 100%;
}