*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* !                    GENERAL RULES                          */

.my_padding{
    padding: 1rem;
}

.white{
    color: white;
}


/* ! ---------------------------------------------------------- */

/* ? INIZIA IL HEADER */
header{
    padding:0.2rem;
    width: 100%;
    position: sticky;
}

.search_bar{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.251);
    border-radius: 0.5rem;
}

.fa-magnifying-glass{
    margin: 0 1rem;
}

#text_bar{
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.right_nav{
    display: flex;
    justify-content: space-between;
}
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

/* ? INIZIA IL MAIN */

main{
    height: calc(100vh - 50px);
    display: flex;
    padding: 3rem auto;
}


/* ? INIZIA IL LEFTER */

#lefter{
    width: 120px;
    min-height: 100%;
    overflow: auto;
    padding: 0.5rem;
}

#upper_lefter{
    height: calc(100% - 75px);
    text-align: center;
}

#bottom_lefter{
    height: 75px;
    text-align: center;
    padding-top: 1rem;
}

.btn-outline-light{
    border: none;
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

/* ? MEGA CONTAINER DI DESTRA */

.super_container{
    width: calc(100% - 120px);
    overflow: auto;
}
/* ? CONTIANER DI DESTRA PARTE SOPRA */
.my_container_top{
    padding: 1rem;
    background-color: rgb(27,113,232);
    min-height: 150px;
    width: 100%;
}

.breadcrumb-item.active{
    color: white;
}

nav li{
    background-color: #1B59B4;
    border-radius: 1rem;
    padding: 0.25rem 0.6rem 0.5rem 0.5rem;
    margin: 0.25rem;
    text-align: center;
}
li:hover{
    background-color: #3079e8;
    border: 1px solid white;
}
/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */

/*  CONTIANER DI DESTRA PARTE SOTTO */

.my_container_bottom{
    display: flex;
    width: calc(100vw - 500px);
    padding: 1rem;
}
/*  CONTIANER DI DESTRA PARTE SOTTO -> SINISTRA */

.my_container_left{
    width: 65%;
}

/*  CONTIANER DI DESTRA PARTE SOTTO -> DESTRA */


.my_container_right{
    width: 35%;
}

section{
    width: 100%;
}

/* ------------------------------------------------------------ */
/* ------------------------------------------------------------ */


/* ! DEBUG */

main{
    background-color: aqua;
}

#lefter{
    background-color: blue;
}

[class*="col"]{
    /* background-color: chocolate; */
    /* border: 1px solid black; */
    /* min-height: 200px; */
}

/* .my_container_top{
min-height: 150px;
width: 100%;
background-color: chartreuse;
} */

#upper_lefter{
    background-color: crimson;
}

#bottom_lefter{
background-color: cornflowerblue;
}